// IMPORT FONTS
@import "fonts.scss";

// IMPORT VARIABLES
@import "variables.scss";

// IMPORT MIXINS
@import "mixins.scss";

// IMPORT HOME SCREEN STYLES
@import "HomeScreen/homeScreen.scss";

// START:: GLOBAL STYLES
* {
  margin: 0;
  padding: 0;
  @include boxSizing;
} 

body {
  font-family: "Tajawal-Regular";
}
// END:: GLOBAL STYLES
